<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @call.message %>
</p>

<p>
  <b>Contact:</b>
  <%= @call.contact_id %>
</p>


<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
